
  <ul aria-labelledby="user" class="user-size dropdown-menu">
    <li class="welcome">
      <a href="#" class="edit-profil"><i class="la la-gear"></i></a>
      <img src="assets/img/avatar/avatarprofile.png" alt="..." class="rounded-circle">
    </li>
    <li>
      <a href="pages-profile.html" class="dropdown-item">
        Profile
      </a>
    </li>
    <li>
      <a href="app-mail.html" class="dropdown-item">
        Messages
      </a>
    </li>
    <li>
      <a href="#" class="dropdown-item no-padding-bottom">
        Settings
      </a>
    </li>
    <li class="separator"></li>
    <li>
      <a href="pages-faq.html" class="dropdown-item no-padding-top">
        Faq
      </a>
    </li>
    <li><a rel="nofollow" href="pages-login.html" class="dropdown-item logout text-center"><i
      class="ti-power-off"></i></a></li>
  </ul>

